package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/utils"

templ ArrowDownRight(props utils.IconProps){
    @utils.BasicIcon(props, "lucide-arrow-down-right"){
        <path d="m7 7 10 10"/>
        <path d="M17 7v10H7"/>
    }
}
