package lucide

import "Pseudo-Monkeys/templ-icons-lucide/utils"

templ ArrowUpRight(props utils.IconProps){
    @utils.BasicIcon(props, "lucide-arrow-up-right"){
        <path d="M7 7h10v10"/>
        <path d="M7 17 17 7"/>
    }
}
