package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ ArrowUpToLine(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-arrow-up-to-line"){
        <path d="M5 3h14"/>
        <path d="m18 13-6-6-6 6"/>
        <path d="M12 7v14"/>
    }
}
