package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ ArrowUpLeft(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-arrow-up-left"){
        <path d="M7 17V7h10"/>
        <path d="M17 17 7 7"/>
    }
}
