package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/utils"

templ ArrowLeftRight(props utils.IconProps){
    @utils.BasicIcon(props, "lucide-arrow-left-right"){
        <path d="M8 3 4 7l4 4"/>
        <path d="M4 7h16"/>
        <path d="m16 21 4-4-4-4"/>
        <path d="M20 17H4"/>
    }
}
