package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/utils"

templ ArrowDownLeft(props utils.IconProps){
    @utils.BasicIcon(props, "lucide-arrow-down-left"){
        <path d="M17 7 7 17"/>
        <path d="M17 17H7V7"/>
    }
}
