package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ ArrowLeft(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-arrow-left"){
        <path d="m12 19-7-7 7-7"/>
        <path d="M19 12H5"/>
    }
}
