package lucide

import "Pseudo-Monkeys/templ-icons-lucide/utils"

templ ArrowUp(props utils.IconProps){
    @utils.BasicIcon(props, "lucide-arrow-up"){
        <path d="m5 12 7-7 7 7"/>
        <path d="M12 19V5"/>
    }
}
