package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/utils"

templ ArrowDownNarrowWide(props utils.IconProps){
    @utils.BasicIcon(props, "lucide-arrow-down-narrow-wide"){
        <path d="m3 16 4 4 4-4"/>
        <path d="M7 20V4"/>
        <path d="M11 4h4"/>
        <path d="M11 8h7"/>
        <path d="M11 12h10"/>
    }
}
