package lucide

import "Pseudo-Monkeys/templ-icons-lucide/utils"

templ ArrowRight(props utils.IconProps){
    @utils.BasicIcon(props, "lucide-arrow-right"){
        <path d="M5 12h14"/>
        <path d="m12 5 7 7-7 7"/>
    }
}
