package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/utils"

templ ArrowUpFromLine(props utils.IconProps){
    @utils.BasicIcon(props, "lucide-arrow-up-from-line"){
        <path d="m18 9-6-6-6 6"/>
        <path d="M12 3v14"/>
        <path d="M5 21h14"/>
    }
}
