package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/utils"

templ ArrowUpWideNarrow(props utils.IconProps){
    @utils.BasicIcon(props, "lucide-arrow-up-wide-narrow"){
        <path d="m3 8 4-4 4 4"/>
        <path d="M7 4v16"/>
        <path d="M11 12h10"/>
        <path d="M11 16h7"/>
        <path d="M11 20h4"/>
    }
}
