package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/utils"

templ ArrowDown(props utils.IconProps){
    @utils.BasicIcon(props, "lucide-arrow-down"){
        <path d="M12 5v14"/>
        <path d="m19 12-7 7-7-7"/>
    }
}
