package lucide

import "Pseudo-Monkeys/templ-icons-lucide/utils"

templ ArrowDownToLine(props utils.IconProps){
    @utils.BasicIcon(props, "lucide-arrow-down-to-line"){
        <path d="M12 17V3"/>
        <path d="m6 11 6 6 6-6"/>
        <path d="M19 21H5"/>
    }
}
