package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ ArrowDownLeft(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-arrow-down-left"){
        <path d="M17 7 7 17"/>
        <path d="M17 17H7V7"/>
    }
}
