package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ ArrowDownRight(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-arrow-down-right"){
        <path d="m7 7 10 10"/>
        <path d="M17 7v10H7"/>
    }
}
