package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ ChartNoAxesColumn(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-chart-no-axes-column"){
        <line x1="18" x2="18" y1="20" y2="10"/>
        <line x1="12" x2="12" y1="20" y2="4"/>
        <line x1="6" x2="6" y1="20" y2="14"/>
    }
}
