package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/utils"

templ ChevronsRight(props utils.IconProps){
    @utils.BasicIcon(props, "lucide-chevrons-right"){
        <path d="m6 17 5-5-5-5"/>
        <path d="m13 17 5-5-5-5"/>
    }
}
