package lucide

import "Pseudo-Monkeys/templ-icons-lucide/utils"

templ ChevronRight(props utils.IconProps){
    @utils.BasicIcon(props, "lucide-chevron-right"){
        <path d="m9 18 6-6-6-6"/>
    }
}
