package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ ChevronDown(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-chevron-down"){
        <path d="m6 9 6 6 6-6"/>
    }
}
