package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ ChevronUp(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-chevron-up"){
        <path d="m18 15-6-6-6 6"/>
    }
}
