package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ ChevronsLeft(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-chevrons-left"){
        <path d="m11 17-5-5 5-5"/>
        <path d="m18 17-5-5 5-5"/>
    }
}
