package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/utils"

templ ChevronDown(props utils.IconProps){
    @utils.BasicIcon(props, "lucide-chevron-down"){
        <path d="m6 9 6 6 6-6"/>
    }
}
