package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ ChevronLeft(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-chevron-left"){
        <path d="m15 18-6-6 6-6"/>
    }
}
