package lucide

import "Pseudo-Monkeys/templ-icons-lucide/utils"

templ Command(props utils.IconProps){
    @utils.BasicIcon(props, "lucide-command"){
        <path d="M15 6v12a3 3 0 1 0 3-3H6a3 3 0 1 0 3 3V6a3 3 0 1 0-3 3h12a3 3 0 1 0-3-3"/>
    }
}
