package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ FlagTriangleRight(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-flag-triangle-right"){
        <path d="M7 22V2l10 5-10 5"/>
    }
}
