package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ GalleryVertical(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-gallery-vertical"){
        <path d="M3 2h18"/>
        <rect width="18" height="12" x="3" y="6" rx="2"/>
        <path d="M3 22h18"/>
    }
}
