package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ GalleryHorizontal(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-gallery-horizontal"){
        <path d="M2 3v18"/>
        <rect width="12" height="18" x="6" y="3" rx="2"/>
        <path d="M22 3v18"/>
    }
}
