package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ GitCommitVertical(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-git-commit-vertical"){
        <path d="M12 3v6"/>
        <circle cx="12" cy="12" r="3"/>
        <path d="M12 15v6"/>
    }
}
