package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ GitCommitHorizontal(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-git-commit-horizontal"){
        <circle cx="12" cy="12" r="3"/>
        <line x1="3" x2="9" y1="12" y2="12"/>
        <line x1="15" x2="21" y1="12" y2="12"/>
    }
}
