package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ Move(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-move"){
        <path d="M12 2v20"/>
        <path d="m15 19-3 3-3-3"/>
        <path d="m19 9 3 3-3 3"/>
        <path d="M2 12h20"/>
        <path d="m5 9-3 3 3 3"/>
        <path d="m9 5 3-3 3 3"/>
    }
}
