package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ Music3(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-music-3"){
        <circle cx="12" cy="18" r="4"/><path d="M16 18V2"/>
    }
}
