package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ Music2(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-music-2"){
        <circle cx="8" cy="18" r="4"/><path d="M12 18V2l7 4"/>
    }
}
