package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ Play(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-play"){
        <polygon points="6 3 20 12 6 21 6 3"/>
    }
}
