package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ Plus(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-plus"){
        <path d="M5 12h14"/>
        <path d="M12 5v14"/>
    }
}
