package lucide

import "Pseudo-Monkeys/templ-icons-lucide/utils"

templ Plus(props utils.IconProps){
    @utils.BasicIcon(props, "lucide-plus"){
        <path d="M5 12h14"/>
        <path d="M12 5v14"/>
    }
}
