package lucide

import "Pseudo-Monkeys/templ-icons-lucide/utils"

templ Text(props utils.IconProps){
    @utils.BasicIcon(props, "lucide-text"){
        <path d="M17 6.1H3"/>
        <path d="M21 12.1H3"/>
        <path d="M15.1 18H3"/>
    }
}
