package lucide

import "github.com/Pseudo-Monkeys/templ-icons-lucide/internal/utils"
import "github.com/Pseudo-Monkeys/templ-icons-lucide/lib"

templ Text(props lib.IconProps){
    @utils.BasicIcon(props, "lucide-text"){
        <path d="M17 6.1H3"/>
        <path d="M21 12.1H3"/>
        <path d="M15.1 18H3"/>
    }
}
